.logo-image{
    width: 40px;
    height: 40px;
}
.info-block{
    height: 157px;
}
.avatar-logo{
	height: 75px;
	width: 75px;
}
.upper-text{
	font-size: 1.2em;
}
.sidebar:after{
	background: url('/images/sidebar.png') !important;
}
.sidebar .nav li:not(.active) > a, .sidebar[data-background-color="white"] .nav li:not(.active) > a, .off-canvas-sidebar .nav li:not(.active) > a, .off-canvas-sidebar[data-background-color="white"] .nav li:not(.active) > a {
    color: #ffffff;
}
.sidebar .user .info a, .sidebar[data-background-color="white"] .user .info a, .off-canvas-sidebar .user .info a, .off-canvas-sidebar[data-background-color="white"] .user .info a {
    color: #ffffff;
}
.btn-square{
    border-radius: 5px;
}
.btn-fw{
	width:100%;
}
#top-progress{
  margin:0;
  background-color:  #C1C1C1;
}
.progress .indeterminate {
    background-color: #c84513;
}
#add-address-map{
  height: 200px;
  width: 500px;
}