h1,h2,h3,h4,h5,h6,p,a,small{
	font-family: 'Exo 2',sans-serif !important;
}
.presentation-title{
	font-family: 'Exo 2',sans-serif !important;
	font-weight: 700;
}
.presentation-subtitle{
	font-family: 'Exo 2',sans-serif !important;
	font-weight: 900;
}
.footer-black, .footer-transparent, .subscribe-line-transparent {
    background-color: #000000;
    color: #DDDDDD;
}
.filter:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    content: "";
    opacity: .4;
}
.pattern-image:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
    opacity: .4;
    background: #000;
    background: url(../img/pattern.png);
}
.presentation-page .presentation-title {
    font-size: 8em;
    font-weight: 700;
    margin: 0;
    color: #FFFFFF;
    background: #fbf8ec;
    background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
    background: linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
    -webkit-background-clip: text;
     -webkit-text-fill-color: #FFFFFF; 
}
.page-header .filter-danger::after {
    background-color: rgba(153, 168, 224, 0.5);
}
.page-header .filter-category::after {
    background-color: rgba(51, 224, 88, 0.5);
}

.mini-map{
    height: 200px;
    width: 100%;
}