h1,h2,h3,h4,h5,h6,p,a,small{
	font-family: 'Exo 2',sans-serif !important;
}
.presentation-title{
	font-family: 'Exo 2',sans-serif !important;
	font-weight: 700;
}
.presentation-subtitle{
	font-family: 'Exo 2',sans-serif !important;
	font-weight: 900;
}
.footer-black, .footer-transparent, .subscribe-line-transparent {
    background-color: #000000;
    color: #DDDDDD;
}
.filter:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    content: "";
    opacity: .4;
}
.pattern-image:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
    opacity: .4;
    background: #000;
    background: url(../img/pattern.png);
}
.presentation-page .presentation-title {
    font-size: 8em;
    font-weight: 700;
    margin: 0;
    color: #FFFFFF;
    background: #fbf8ec;
    background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
    background: linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
    -webkit-background-clip: text;
     -webkit-text-fill-color: #FFFFFF; 
}
.page-header .filter-danger::after {
    background-color: rgba(153, 168, 224, 0.5);
}
.page-header .filter-category::after {
    background-color: rgba(51, 224, 88, 0.5);
}

.mini-map{
    height: 200px;
    width: 100%;
}
.black-text-card{
    color: #000000 !important;
}
.upper-text{
    font-size: 2em;
}

/* FLOATING CARD */
@keyframes float {
    0% {
        transform: translatey(75px);
    }
    50% {
        transform: translatey(20px);
    }
    100% {
        transform: translatey(75px);
    }
}

@keyframes float-ruble {
    0% {
        transform: translatey(85px);
    }
    50% {
        transform: translatey(0px);
    }
    100% {
        transform: translatey(85px);
    }
}

@keyframes float-gift {
    0% {
        transform: translatey(60px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(60px);
    }
}

@keyframes float-lying-card {
    0% {
        transform: translatey(10px);
    }
    50% {
        transform: translatey(0px);
    }
    100% {
        transform: translatey(10px);
    }
}

.float-card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.float-icons-container{
    display: flex;
    flex-direction: row;
}
.float-card {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border: 5px white solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 50%;
    overflow: hidden;
    transform: translatey(0px);
    animation: float 6s cubic-bezier(0.25, 0.1, 0.25, 1.0) infinite;
    img { width: 100%; height: auto; }
}
.float-card>i{
    padding-top: 19px;
    padding-right: 35px;

}

.float-card-ruble {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border: 5px white solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 50%;
    overflow: hidden;
    transform: translatey(0px);
    animation: float-ruble 4.5s cubic-bezier(0.25, 0.1, 0.25, 1.0) infinite;
    img { width: 100%; height: auto; }
}
.float-card-ruble>i{
    padding-top: 19px;
    padding-right: 35px;

}

.float-card-gift {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border: 5px white solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 50%;
    overflow: hidden;
    transform: translatey(0px);
    animation: float-gift 5s cubic-bezier(0.25, 0.1, 0.25, 1.0) infinite;
    img { width: 100%; height: auto; }
}
.float-card-gift>i{
    padding-top: 19px;
    padding-right: 35px;

}
.float-card-content {
    width: 100%;
    max-width: 600px;
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: center;
}
.lying-card{
    animation: float-lying-card 10s cubic-bezier(0.25, 0.1, 0.25, 1.0) infinite;
}
.section-orange {
    background-color: #f5593d;
    color: #FFFFFF !important;
}
.white-text {
    color:#f3eaea;
}
.first-card {
    top: 104px !important;
}
.eight-card {
    top: 126px !important;
    left: 400px !important;
}
.sixth-card {
    top: 932px !important;
}
.card[data-background="image"]:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
     background-color: rgba(0, 0, 0, 0); 
    border-radius: 12px;
}
.left-floated-text>h4,h5,p{
    text-align: left;
}
.modal-dialog-big{
    min-width: 80% !important;
    margin: 30px 10%;
}
.m55-header-xs{
    height: 40vh !important;
    max-height: 400px;
}
#index-page-header{
        height: 30vh !important;
    max-height: 300px;
}
#index-page-text{
    z-index: 1020;
    top:25vh;
}